---
import { Icon } from 'astro-icon/components'

import { siteConfig, NavbarLinks } from '../config'

const { hue, theme } = Astro.props;
---

<!-- 外面套一层是因为方便使用 mx-auto -->
<!-- 不然的话要使用 md:mx-4，与 mx-auto 冲突 -->
<div class="max-w-[75rem] md:px-4 mx-auto top-0 sticky">
    <!-- 下面这个 div 是为了给悬浮窗定位用 -->
    <div class="relative">
        <div class="flex items-center bg-[var(--card-bg)] md:h-[4.5rem] h-16 md:px-4 px-3.5 
        rounded-2xl rounded-t-none justify-between transition-all">
            <!-- 房子图标 -->
            <a href="/" class="flex items-center text-[var(--primary)] md:h-[3.25rem] h-12 md:px-5 px-4 
            md:rounded-lg rounded-md hover:bg-[var(--btn-bg-hover)] active:bg-[var(--btn-bg-active)] 
            active:scale-95 transition-all">
                <Icon name="material-symbols:home-outline-rounded" 
                class="md:text-[1.75rem] text-2xl md:mr-2 mr-[0.25rem] mb-1"/>
                <p class="md:text-[0.875rem] text-[0.825rem] font-bold">
                    {siteConfig.subtitle}
                </p>
            </a>
            <!-- Home, Archive, About, GitHub 按钮 -->
            <div class="flex">
            {
                NavbarLinks.map(link => (
                    <a href={link.url} target={link.external ? "_blank" : null} class="group md:flex 
                    hidden items-center h-[3.25rem] px-5 rounded-lg hover:bg-[var(--btn-bg-hover)] 
                    active:bg-[var(--btn-bg-active)] active:scale-95 transition-all">
                        <p class="text-[var(--btn-text)] group-hover:text-[var(--primary)] text-sm 
                        font-bold">{link.name}</p>
                        {link.external && <Icon name="fa6-solid:arrow-up-right-from-square"
                        class="text-[0.875rem] text-[var(--github-icon)] ml-1 mb-1"/>}
                    </a>
                ))
            }
            </div>
            <!-- 剩下的部分 -->
            <div class="flex items-center">
                <!-- 搜索框 -->
                <div class="lg:flex hidden items-center bg-[var(--search-bg)] h-12 mr-2 rounded-lg 
                hover:bg-[var(--search-bg-hover-focus)] focus-within:bg-[var(--search-bg-hover-focus)] 
                transition-all">
                    <Icon name="material-symbols:search"
                    class="absolute text-[var(--search-icon)] text-[1.25rem] ml-3 pointer-events-none"/>
                    <input placeholder="Search" class="bg-transparent w-40 active:w-60 focus:w-60 
                    h-full pl-10 outline-0 text-[var(--search-text)] text-sm transition-all">
                </div>
                <!-- 搜索按钮 -->
                <button class="flex items-center justify-center group lg:hidden w-11 h-11 rounded-lg 
                hover:bg-[var(--btn-bg-hover)] active:scale-95 transition-all">
                    <Icon name="material-symbols:search" class={`md:text-xl text-base 
                    text-[var(--btn-text)] group-hover:text-[var(--primary)]`}/>
                </button>
                <!-- 调色板按钮 -->
                <button id="palette-btn" class="flex items-center justify-center group w-11 h-11 rounded-lg 
                hover:bg-[var(--btn-bg-hover)] active:scale-95 transition-all">
                    <Icon name="material-symbols:palette-outline" class={`md:text-xl text-base 
                    text-[var(--btn-text)] group-hover:text-[var(--primary)]`}/>
                </button>
                <!-- 调色板悬浮窗 -->
                <!-- 悬浮窗会根据上面的有 relative 的 div 进行定位 -->
                <div id="palette-panel" class="absolute bg-[var(--card-bg)] w-80 right-0 px-4 py-4 
                top-[4.875rem] rounded-2xl shadow-xl dark:shadow-none md:scale-100 
                scale-90 float-panel-closed max-md:hidden transition-all">
                    <!--第一行容器 -->
                    <div class="flex items-center before:w-1 before:h-4 before:rounded-md 
                    before:bg-[var(--primary)] gap-2 mb-3">
                        <p class="font-bold select-none">Theme Color</p>
                        <button id="reset-btn" class="flex items-center justify-center bg-[var(--btn-regular-bg)] 
                        hover:bg-[var(--btn-regular-bg-hover)] active:bg-[var(--btn-regular-bg-active)]
                        active:scale-95 w-7 h-7 rounded-md">
                            <Icon name="fa6-solid:arrow-rotate-left" 
                            class="text-[var(--btn-content)] text-[0.875rem]"/>
                        </button>
                        <!-- hue 显示 -->
                        <p id="display" class="flex items-center justify-center bg-[var(--btn-regular-bg)] w-10 h-7 
                        rounded-md text-[var(--btn-content)] text-sm ml-auto select-none">{hue}</p>
                    </div>
                    <!-- 下面的拖动条 -->
                    <input id="slider" type="range" min="0" max="360" value={hue} class="slider">
                </div>
                <!-- 亮暗主题 -->
                <button id="theme-btn" class="flex items-center justify-center group 
                hover:bg-[var(--btn-bg-hover)] w-11 h-11 rounded-lg active:scale-95 transition-all">
                    <!-- 亮 -->
                    <Icon id="light-icon" name="material-symbols:wb-sunny-outline-rounded" class={`absolute 
                    ${theme === 'light' ? 'opacity-100' : 'opacity-0'}
                    md:text-xl text-base text-[var(--btn-text)] group-hover:text-[var(--primary)]`}/>
                    <!-- 暗 -->
                    <Icon id="dark-icon" name="material-symbols:dark-mode-outline-rounded" class={`absolute 
                    ${theme === 'dark' ? 'opacity-100' : 'opacity-0'} 
                    md:text-xl text-base text-[var(--btn-text)] group-hover:text-[var(--primary)]`}/>
                    <!-- 自动 -->
                    <Icon id="light-dark-icon" name="material-symbols:radio-button-partial-outline" class={`absolute 
                    ${theme === 'light dark' ? 'opacity-100' : 'opacity-0'} 
                    md:text-xl text-base text-[var(--btn-text)] group-hover:text-[var(--primary)]`}/>
                </button>
                <!-- 亮暗主题下拉框 -->
                <div id="theme-panel" class="absolute bg-[var(--card-bg)] right-0 p-2 top-[4.875rem] 
                max-md:hidden rounded-2xl shadow-xl dark:shadow-none float-panel-closed transition-all">
                    <!-- 亮 -->
                    <button id="theme-panel-light-btn" class={`flex items-center 
                    text-[var(--btn-text)] hover:text-[var(--primary)] active:scale-95
                    ${theme === 'light' && 'bg-[var(--btn-bg-hover)] text-[var(--primary)]'}
                    hover:bg-[var(--btn-bg-hover)] h-9 px-3 rounded-lg w-full mb-0.5 transition-all`}>
                        <Icon name="material-symbols:wb-sunny-outline-rounded" 
                        class={`text-[1.25rem] mr-3`}/>
                        <p class="">Light</p>
                    </button>
                    <!-- 暗 -->
                    <button id="theme-panel-dark-btn" class={`flex items-center 
                    text-[var(--btn-text)] hover:text-[var(--primary)] active:scale-95
                    ${theme === 'dark' && 'bg-[var(--btn-bg-hover)] text-[var(--primary)]'}
                    hover:bg-[var(--btn-bg-hover)] h-9 px-3 rounded-lg w-full mb-0.5 transition-all`}>
                        <Icon name="material-symbols:dark-mode-outline-rounded" 
                        class={`text-[1.25rem] mr-3`}/>
                        <p class="">Dark</p>
                    </button>
                    <!-- 自动 -->
                    <button id="theme-panel-light-dark-btn" class={`flex items-center 
                    text-[var(--btn-text)] hover:text-[var(--primary)] active:scale-95
                    ${theme === 'light dark' && 'bg-[var(--btn-bg-hover)] text-[var(--primary)]'}
                    hover:bg-[var(--btn-bg-hover)] h-9 px-3 rounded-lg w-full mb-0.5 transition-all`}>
                        <Icon name="material-symbols:radio-button-partial-outline" 
                        class={`text-[1.25rem] mr-3`}/>
                        <p class="">System</p>
                    </button>
                </div>
                <!-- 链接按钮 -->
                <button id="menu-btn" class="flex items-center justify-center group md:hidden w-11 h-11 rounded-lg 
                hover:bg-[var(--btn-bg-hover)] active:scale-95 transition-all">
                    <Icon name="material-symbols:menu-rounded" class={`md:text-xl text-base 
                    text-[var(--btn-text)] group-hover:text-[var(--primary)]`}></Icon>
                </button>
                <!-- 链接按钮悬浮窗 -->
                <!-- 左右位置需要调整 -->
                <div id="menu-panel" class="absolute bg-[var(--card-bg)] top-[4.5rem] right-4 rounded-2xl shadow-xl 
                dark:shadow-none p-2 transition-all md:hidden float-panel-closed">
                    {
                    NavbarLinks.map(link => (
                        <a href={link.url} target={link.external ? "_blank" : null} class="flex 
                        items-center justify-between text-[var(--btn-text)] hover:text-[var(--primary)] 
                        active:scale-95 hover:bg-[var(--btn-bg-hover)] rounded-lg pl-3 pr-1 py-1.5 w-[6.5rem]">
                            <p class="text-sm">{link.name}</p>
                            {!link.external ? <Icon name="material-symbols:chevron-right-rounded"
                            class="text-[var(--primary)]"/> : <Icon name="fa6-solid:arrow-up-right-from-square"
                            class="text-[0.75rem] text-[var(--github-icon)] mr-0.5"/>}
                        </a>
                    ))
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>    
    /**
     * 调色板代码
     * 
     * 要实现：
     * 1. 鼠标移到调色板按钮上显示调色板悬浮窗
     * 2. 点击调色板按钮切换颜色
     * 3. 滑动滑动条让 --hue 的值改变
     * 4. 初始化功能
     * 
     * 备注：
     * 1. localStorage.getItem() 会造成闪烁，因此用 cookie 的方法
     */

    /**
     * 1. 鼠标移到图标上显示调色板悬浮窗
     */

    type TimeoutRef = { current: ReturnType<typeof setTimeout> | null };

    function showHidePanel(element: string, action: 'add' | 'remove', className: string, 
            hideTimeoutRef: TimeoutRef, delay: number=0) {
        clearTimeout(hideTimeoutRef.current!);
        if (delay > 0) {
            hideTimeoutRef.current = setTimeout(() => {
                document.getElementById(element)!.classList[action](className)
            }, delay);
        } else {
            document.getElementById(element)!.classList[action](className);
        }
    }

    const palettePanelTimeout = { current: null };

    document.getElementById("palette-btn")!.addEventListener("mouseenter", () => {
        showHidePanel("palette-panel", "remove", "float-panel-closed", palettePanelTimeout);
    });
    document.getElementById("palette-panel")!.addEventListener("mouseenter", () => {
        showHidePanel("palette-panel", "remove", "float-panel-closed", palettePanelTimeout);
    });

    document.getElementById("palette-btn")!.addEventListener("mouseleave", () => {
        showHidePanel("palette-panel", "add", "float-panel-closed", palettePanelTimeout, 80);
    });
    document.getElementById("palette-panel")!.addEventListener("mouseleave", () => {
        showHidePanel("palette-panel", "add", "float-panel-closed", palettePanelTimeout, 80);
    });

    /**
     * 2. 点击调色板切换颜色
     */
    document.getElementById("palette-btn")!.addEventListener("click", function () {
        const slider = document.getElementById("slider") as HTMLInputElement;
        const display = document.getElementById("display");

        // 从 cookie 中读取 hue
        const match = document.cookie.match(/(?:^|;\s*)hue=([^;]*)/);
        const hue = match![1];

        // 将 hue 字符串转 int，第二个参数 10 表示是 10 进制数
        let hueInt = parseInt(hue, 10);

        // 计算下一个 60 的倍数，超过 360 回到 0
        hueInt = (Math.ceil((hueInt + 1) / 60) * 60) % 360;

        // 更新 UI
        slider.value = `${hueInt}`;
        display!.textContent = `${hueInt}`;
        document.documentElement.style.setProperty("--hue", `${hueInt}`);

        // 更新 cookie
        document.cookie = `hue=${hueInt}; path=/; max-age=${60 * 60 * 24 * 365}; SameSite=Lax`;
    });

    /**
     * 3. 滑动滑动条让 hue 的值改变
     */
    document.getElementById("slider")!.addEventListener("input", function (e) {

        const slider_hue = (e.target as HTMLInputElement).value;

        // 写入 cookie
        document.cookie = `hue=${slider_hue}; path=/; max-age=${60 * 60 * 24 * 365}; SameSite=Lax`;

        // 读取新的 hue
        const match = document.cookie.match(/(?:^|;\s*)hue=([^;]*)/);
        const hue = match![1];

        // 更新 UI
        document.getElementById("display")!.textContent = hue;
        document.documentElement.style.setProperty("--hue", hue);
    });

    /**
     * 4. 初始化功能
     */
    document.getElementById("reset-btn")!.addEventListener("click", function () {

        // 将默认值写入 cookie
        document.cookie = `hue=250; path=/; max-age=${60 * 60 * 24 * 365}; SameSite=Lax`;

        // 读取新的 hue
        const match = document.cookie.match(/(?:^|;\s*)hue=([^;]*)/);
        const hue = match![1];

        // 将新的 hue 写到 html 标签中
        document.documentElement.style.setProperty("--hue", hue);

        // 更新 UI
        (document.getElementById("slider")! as HTMLInputElement).value = hue;
        document.getElementById("display")!.textContent = hue;
    });

    /**
     * 主题色代码
     * 
     * 要实现：
     * 1. 点击按钮后改变主题
     * 2. 鼠标悬停按钮后显示悬浮窗，移开后悬浮窗消失
     * 3. 按钮点击事件
     */

    /**
     * 1. 点击按钮后改变主题
     */
    function setTheme (newTheme: string, colorSchemeValue: string, 
            iconDisappear_1: HTMLElement, iconDisappear_2: HTMLElement, iconAppear: HTMLElement,
            bgDisappear_1: HTMLElement, bgDisappear_2: HTMLElement, bgAppear: HTMLElement) {
        document.cookie = `theme=${encodeURIComponent(newTheme)}; path=/; max-age=${60 * 60 * 24 * 365}; SameSite=Lax`;
        document.documentElement.style.setProperty("--color-scheme", colorSchemeValue);
        iconDisappear_1.classList.remove("opacity-100");
        iconDisappear_1.classList.add("opacity-0");
        iconDisappear_2.classList.remove("opacity-100");
        iconDisappear_2.classList.add("opacity-0");
        iconAppear.classList.remove("opacity-0");
        iconAppear.classList.add("opacity-100");

        bgDisappear_1.classList.remove("bg-[var(--btn-bg-hover)]", "text-[var(--primary)]");
        bgDisappear_2.classList.remove("bg-[var(--btn-bg-hover)]", "text-[var(--primary)]");
        bgAppear.classList.add("bg-[var(--btn-bg-hover)]", "text-[var(--primary)]");
    }

    const light_icon = document.getElementById("light-icon")!;
    const dark_icon = document.getElementById("dark-icon")!;
    const light_dark_icon = document.getElementById("light-dark-icon")!;

    const theme_panel_light_btn = document.getElementById("theme-panel-light-btn")!;
    const theme_panel_dark_btn = document.getElementById("theme-panel-dark-btn")!;
    const theme_panel_light_dark_btn = document.getElementById("theme-panel-light-dark-btn")!;

    document.getElementById("theme-btn")!.addEventListener("click", function () {

        // 读取 theme
        const match = document.cookie.match(/(?:^|;\s*)theme=([^;]*)/); 
        const theme = decodeURIComponent(match![1]);

        // 将新的 hue 写到 html 标签中
        switch (theme) {
            case 'light':
                setTheme('dark', 'dark', light_icon, light_dark_icon, dark_icon, 
                        theme_panel_light_btn, theme_panel_light_dark_btn, theme_panel_dark_btn);
                break;
            case 'dark':
                setTheme('light dark', 'light dark', light_icon, dark_icon, light_dark_icon, 
                        theme_panel_light_btn, theme_panel_dark_btn, theme_panel_light_dark_btn);
                break;
            case 'light dark':
                setTheme('light', 'light', dark_icon, light_dark_icon, light_icon, 
                        theme_panel_dark_btn, theme_panel_light_dark_btn, theme_panel_light_btn);
                break;
            default:
                break;
        }
    });

    /**
     * 2. 鼠标悬停按钮后显示悬浮窗，移开后悬浮窗消失
     */
    const themePanelTimeout = { current: null };

    document.getElementById("theme-btn")!.addEventListener("mouseenter", () => {
        showHidePanel("theme-panel", "remove", "float-panel-closed", themePanelTimeout);
    });
    document.getElementById("theme-panel")!.addEventListener("mouseenter", () => {
        showHidePanel("theme-panel", "remove", "float-panel-closed", themePanelTimeout);
    });
    document.getElementById("theme-btn")!.addEventListener("mouseleave", () => {
        showHidePanel("theme-panel", "add", "float-panel-closed", themePanelTimeout, 80);
    });
    document.getElementById("theme-panel")!.addEventListener("mouseleave", () => {
        showHidePanel("theme-panel", "add", "float-panel-closed", themePanelTimeout, 80);
    });

    /**
     * 3. 按钮点击事件
     */
    document.getElementById("theme-panel-light-btn")!.addEventListener("click", function () {
        setTheme('light', 'light', dark_icon, light_dark_icon, light_icon, 
                theme_panel_dark_btn, theme_panel_light_dark_btn, theme_panel_light_btn);
    });

    document.getElementById("theme-panel-dark-btn")!.addEventListener("click", function () {
        setTheme('dark', 'dark', light_icon, light_dark_icon, dark_icon, 
                theme_panel_light_btn, theme_panel_light_dark_btn, theme_panel_dark_btn);
    });

    document.getElementById("theme-panel-light-dark-btn")!.addEventListener("click", function () {
        setTheme('light dark', 'light dark', light_icon, dark_icon, light_dark_icon, 
                theme_panel_light_btn, theme_panel_dark_btn, theme_panel_light_dark_btn);
    });
    /**
     * menu 代码
     * 
     * 要实现：
     * 1. 点击按钮后打开、关闭链接框
     * 2. 点击外部关闭链接框
     */

    /**
     * 1. 点击按钮后打开、关闭链接框
     */
    document.getElementById("menu-btn")!.addEventListener("click", function () {
        document.getElementById("menu-panel")!.classList.toggle("float-panel-closed");
    });

    /**
     * 2. 点击调色板悬浮窗外部则关闭悬浮窗
     */
    function setClickOutsideToClose(panel: string, ignores: string[]) {
        document.addEventListener("click", event => {
            let panelDom = document.getElementById(panel);
            let tDom = event.target;
            if (!(tDom instanceof Node)) return;
            for (let ig of ignores) {
                let ie = document.getElementById(ig);
                if (ie == tDom || (ie?.contains(tDom))) {
                    return;
                }
            }
            panelDom!.classList.add("float-panel-closed");
        });
    }
    setClickOutsideToClose("menu-panel", ["menu-btn", "menu-panel"]);

</script>
