---
import "../styles/global.css";

import Navbar from "../components/Navbar.astro";

import Banner from "../components/Banner.astro";

import Main from "../components/Main.astro";

let hue = Astro.cookies.get('hue')?.value;
if (!hue) {
	hue = '250';
	Astro.cookies.set('hue', hue, {path : '/', maxAge: 60 * 60 * 24 * 365});
}

let theme = Astro.cookies.get('theme')?.value;
if (!theme) {
	theme = 'light dark';
	Astro.cookies.set('theme', theme, {path : '/', maxAge: 60 * 60 * 24 * 365});
}
---

<html class="invisible dark" lang="en" style={`--hue: ${hue}; --color-scheme: ${theme}`}
data-overlayscrollbars-initialize>
	<head>
		<script>
			import 'overlayscrollbars/overlayscrollbars.css';
			import { OverlayScrollbars } from 'overlayscrollbars';
			import "../styles/scrollbar.css";

			OverlayScrollbars(document.body, {
				scrollbars: {
					theme: 'scrollbar-base scrollbar-auto py-1', 
					autoHide: 'move',
					autoHideDelay: 500,
					autoHideSuspend: false,
				},
			});

			// 代码块滚动条的设置
			document.querySelectorAll('pre').forEach((ele) => {
				OverlayScrollbars(ele, {
					scrollbars: {
						theme: 'scrollbar-base scrollbar-dark px-2',
						autoHide: 'leave',
						autoHideDelay: 500,
						autoHideSuspend: false,
					}
				});
			});

			document.documentElement.classList.remove('invisible');
		</script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="relative bg-[var(--page-bg)] min-h-[200rem]" data-overlayscrollbars-initialize>
		<Navbar hue={hue} theme={theme}></Navbar>
		<Banner></Banner>
		<Main>
			<slot></slot>
		</Main>
	</body>
</html>
