---
import "../styles/global.css"

import Navbar from "../components/Navbar.astro"

let hue = Astro.cookies.get('hue')?.value;
if (!hue) {
	hue = '250';
	Astro.cookies.set('hue', hue, {path : '/', maxAge: 60 * 60 * 24 * 365});
}

let theme = Astro.cookies.get('theme')?.value;
if (!theme) {
	theme = 'light dark';
	Astro.cookies.set('theme', theme, {path : '/', maxAge: 60 * 60 * 24 * 365});
}
---

<html lang="en" style={`--hue: ${hue}; --color-scheme: ${theme}`}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="bg-[var(--page-bg)] min-h-[200rem]">
			<Navbar hue={hue} theme={theme}></Navbar>
		</div>
	</body>
</html>
